[
    "https://rss.nytimes.com/services/xml/rss/nyt/Technology.xml",
    "https://www.bbc.com/news/technology/rss.xml",
    "https://www.theguardian.com/technology/rss",
    "https://www.youtube.com/feeds/videos.xml?channel_id=UC_x5XG1OV2P6uZZ5FSM9Ttw"
] 